body {
    background-color: #333;
}
h1 {
    text-align: center;
}
.question {
    background-color: white;
    width: 80%;
    height: auto;
    padding-bottom: 100px;
    margin-left: 10%;
    color: #333;
    position: fixed;
    top: 100px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}
li {
    padding: 5px;
    text-align: left;
    margin-left: -20px;
}
li:hover {
    background-color: #333;
    color: white;
}
ul {
    list-style-type: none;
    width: 50%;
    margin-left: 25%;
}
#q2, #q3, #q4, #results {
    display: none;
}
input[type=text] {
    width: 100%;
    overflow: visible;
    height: auto;
}
#results {
    width: 100%;
    height: 100%;
}
.container {
    width: 70%;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden
}
.containerHeader {
    height: 40px;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 2em;
    font-weight: bold;
}
.containerContent {
    height: inherit;
    color: black;
    text-align: center;
    padding: 15px;
}
#iceCreamResults.containerHeader {
    background-color: #58FF00;
}
#sportsResults.containerHeader {
    background-color: #2FD9C3;
}
#siblingsResults.containerHeader {
    background-color: #1621FF;
}
#skillsResults.containerHeader {
    background-color: #E882DD;
}
