body {
    background-color: #333;
}
h1 {
    text-align: center;
}
.question {
    background-color: white;
    width: 80%;
    height: auto;
    padding-bottom: 100px;
    margin-left: 10%;
    color: #333;
    position: fixed;
    top: 100px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}
li {
    padding: 5px;
    text-align: left;
    margin-left: -20px;
}
li:hover {
    background-color: #333;
    color: white;
}
ul {
    list-style-type: none;
    width: 50%;
    margin-left: 25%;
}
#q2, #q3, #q4, #q5 {
    display: none;
}
input[type=text] {
    width: 100%;
    overflow: visible;
    height: auto;
}
